@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass {
    @apply p-3 
    bg-white/10 
    backdrop-blur-md 

    shadow-lg 
    rounded-2xl
    backdrop-saturate-150 
    ring-1
    ring-white/50 
    bg-gradient-to-b
    from-black/20 
    to-white/20;
  }
}

:root {
  --main-color: HSL(240, 37%, 7%);
  --main-color2: HSL(240, 37%, 98%);
  --secound-color-text: HSL(240, 37%, 90%);
  --secound-color2: HSL(240, 37%, 17%);
  --secound-color3: HSL(240, 37%, 27%);
}

@layer components {
  .move {
    background: linear-gradient(
      -45deg,
      var(--secound-color3),
      var(--secound-color2),
      var(--main-color),
      #00000035,
      #00000000,
      #00000000
    );
    background-size: 200%;
    animation: gradientMove 10s ease infinite;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-wrapper {
  position: relative;
}

.gradient-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -45deg,
    var(--secound-color3),
    var(--secound-color2),
    var(--main-color),
    #00000035,
    #00000000,
    #00000000
  );
  background-size: 200%;
  animation: gradientMove 10s ease infinite;
  pointer-events: none;
  z-index: 0;
}

.gradient-wrapper .glass {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1); /* półprzezroczysty glass */
}

.shine-links {
  @apply relative overflow-hidden
}

.shine-links::before {
  @apply content-[""]
  left-[-100%]
    w-full h-full
    absolute
    bg-white/10
    rounded-md
    bg-gradient-to-r from-transparent via-white/30 to-transparent
    skew-x-[-20] transition-all duration-700;
    
}
.shine-links:hover:before{
  @apply left-[100%] bg-white/50
    size-109
  
}



#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw; /* zamiast wh */
  height: 100vh;
  margin: 0;

  background-size: 400% 400%;

  color: var(--secound-color-text);
  font-family: "Unna";
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

h1 {
  @apply font-bold inline;
}

/*--------------------------HEADER--------------------------*/

header {
  @apply h-[2.9rem]
    h-[2.9rem]
    w-full  
    box-border 
    flex
    justify-end
    items-center
    text-[var(--main-color1)];
}

header a {
  @apply flex justify-center items-center
    mx-4 min-w-20 h-full 
    shadow-xs shadow-white rounded-full 
    bg-white/1 backdrop-blur-sm  ring-white/50 bg-gradient-to-tl from-white/20 to-white/5
    transition-colors duration-300 ease-linear
    transition-transform;
}

header a:hover {
  @apply text-white scale-101;
}

/*--------------------------MAIN--------------------------*/

/*---------- home ----------*/
.home {
  @apply w-full text-shadow-white/50 text-shadow-[0_5px_25px]   flex gap-5 justify-center min-h-[95vh] box-border p-3;
}

.home .home-left {
  @apply text-5xl   flex-[2] box-border p-10 text-xl ;
}

.home .home-right {
  @apply flex-[1]  h-[100vh] box-border flex  gap-5 flex-col;
}

.contact-link {
  @apply cursor-pointer rounded-md bg-black ring
}

.home-right-image,
.home-right-contact{
  @apply h-[50vh] 
}


.home .home-left p {
  @apply text-left pb-10 mt-20 p-1
}

.welcome-p {
  @apply text-4xl text-[var(--secound-color-text)];
}

.profile-photo {
  @apply w-full h-full object-cover;
}

@keyframes slideDown {
  from { transform: translateY(-20px); opacity:0; }
  to {transform: translateY(0px); opacity:1; }
}


.slide-down {
  @apply opacity-0 will-change-transform;
  animation: slideDown 1.5s cubic-bezier(.20,.9,.40,1) 0.2s forwards
}
.slide-down-2{
  @apply opacity-0 will-change-transform;
  animation: slideDown 1s cubic-bezier(.20,.9,.40,1) 1s forwards
}



/*---------- home-desc ----------*/

.home-desc {
  @apply w-full flex justify-center;
}

.home-desc .home-left {
  @apply flex-5 m-2 pb-10 text-shadow-white/50 text-shadow-[0_5px_25px];
}
.home-desc .home-right {
  @apply flex-1  m-2 flex flex-col justify-start flex-col;
}

.home-desc button {
  @apply m-5 rounded-md  max-h-13 flex justify-center items-center
  bg-orange-800/30 backdrop-blur-md  shadow-lg rounded-2xl
  backdrop-saturate-150 ring-1 ring-orange-700/40 bg-gradient-to-b from-yellow-500/90 to-orange-500/100;
}

.amazon-button:hover {
  @apply bg-blue-800  cursor-pointer;
}

/*--------------------------FOOTER--------------------------*/
